:root {
  --my-silver: silver;
  --my-gainsboro: gainsboro;
}

html {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus {
  box-shadow: none !important;
}

body.bg-white {
  color: var(--bs-dark);
}
body.bg-dark {
  color: var(--bs-white);
}
